body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#audioPlayer {
    width: 100%;
    margin-bottom: 20px;
}

#playlist {
    list-style: none;
    padding: 0;
}

#playlist li {
    margin-bottom: 5px;
}

#playlist li a {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
}

#playlist li a:hover {
    background-color: #e0e0e0;
}
